<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="http://localhost:7001/api/uploadThemeProductImage" method="post" enctype="multipart/form-data">
        <ul>
        <li><span> 主题图片:</span> <input type="file" name="product_url"/></li>
        <li><span>主题名称<input type="text" name="name"/></span></li>
        <li><span>主题id</span><input type="text" name="product_id"/></li>
        <li>
                <br/>
                <button type="submit" class="btn btn-primary">提交</button>
            </li>
        </ul>
        </form>
    </div>
</body>
</html>