<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
        <li> <span> 商品图片:</span> <input type="file" name="goods_image"/></li>
            <li>  <span>商品价格:</span> <input type="text" name="shop_price"/></li>
            <li>  <span>商品原价:</span>  <input type="text" name="market_price"/></li>  
            <li> <span>商品状态:</span>　<input type="radio" value="1" name="status" checked/> 显示                                    　
            <input type="radio" value="0" name="status"/>  隐藏</li>
            <li> <span>加入推荐:</span>　<input type="checkbox" value="1" name="is_best"/> 精品
            <input type="checkbox" value="1" name="is_hot"/> 热销
           <input type="checkbox" value="1" name="is_new"/> 新品
        </ul>
    </div>
</body>
</html>