<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="http://localhost:7001/financeEntryWebApi/user/uploadVerifiyInfo" method="post" enctype="multipart/form-data">
        <ul>
        <li><span> 身份证正面：</span> <input type="file" name="idCardImage"/></li>
        <li><span>身份证反面：</span> <input type="file" name="idCardImageBack"/></li>
        <li><span>产品名称：</span><input type="text" name="name"/></li>
        <li><span>订单状态：</span><input type="text" name="idNo"/></li>

        <li>
                <br/>
                <button type="submit" class="btn btn-primary">提交</button>
            </li>
        </ul>
        </form>
    </div>
</body>
</html>